$grayColor: #3b3b3b;
$whiteColor: #f7f7f7;
$redColor: #db5192;
$yellowColor: #ffcc57;
$grad1Height: 100vh;
$displayHeight: 100vh;
$backgroundHeight: 40vh;
$softwareElements: 4;
$hardwareElements: 1;
$aboutmeHeight: 100vh;