.aboutmedisplay{

    .self{
      width: 31%;
      float: left;
      height: $displayHeight;
      background-color: $grayColor;
      text-align: center;
      @include screenXL{
        width: 30%;
      }
      @include screenM{
        width: 29%;
      }
      img{
        max-width: 80%;
        margin-top: 30px;
      }
    }
    .description{
      width: 55%;
      height: $displayHeight;
      float: left;
      text-align: center;
      color: $whiteColor;
      background-color: $grayColor;
      @include screenXL{
        width: 54%;
      }
      @include screenM{
        width: 53%;
      }
      h1{
        font-size: 300%;
        text-decoration: underline;
        color: $whiteColor;
        padding-top: 30px;
      }
      h2{
        padding-top: 30px;
      }
      p{
        padding-top: 30px;
      }
    }
  }