.home{
    height: $grad1Height;
    .logo{
      width: 43%;
      float:left;
      background-color: $grayColor;
      height: 100%;
      text-align: center;
      @include screenXL{
        width: 42%;
      }
      @include screenM{
        width: 41%;
      }
      img{
        max-width: 75%;
        margin-top: 40vh;
        opacity: 0;
        animation: fadeIn 2s forwards;
      }
    }
    .welcome{
      width: 43%;
      float: left;
      background-color: $whiteColor;
      height: 100%;
      color: $grayColor;
      @include screenXL{
        width: 42%;
      }
      @include screenM{
        width: 41%;
      }
      p{
        opacity: 0;
        animation: fadeIn 2s forwards;
        margin-left:5%;
        margin-right: 5%;
        font-size: 200%;
        @include screenM{
          font-size: 170%;
        }
        @include screenS{
          font-size: 150%;
        }
      }
      h1{
        margin-top:38vh;
        margin-left:5%;
        margin-right: 5%;
        font-size: 400%;
        opacity: 0;
        animation: fadeIn 2s forwards;
        @include screenM{
          font-size: 350%;
        }
        @include screenS{
          font-size: 300%;
        }
      }
    }
  }