.slideshow{
    background-color: $grayColor;
    height:auto;
    text-align: center;
    padding: 3% 3%;
    @include screenS{
      padding: 2vh;
    }
    position: relative;
    .images{
      text-align: center;
      max-width: 80%;
    }
    img{
      max-width: 100%;
    }
    .cycle-prev, .cycle-next{
      position:absolute;
      top: 30%;
      background-color: rgba(0,0,0,.35);
      color: #FFF;
      padding: 1px 10px;
      display: block;
      cursor: pointer;
      font-size:130%;
      z-index: 1000;
    }
    .cycle-next{
      right: 0;
  }
  
  }
  
  .display{
    width: 60%;
    height: $displayHeight;
    background-color: $grayColor;
    float:left;
    text-align: center;
    @include screenXL{
      width: 59%;
    }
    @include screenM{
      width: 58%;
    }
    @include screenS{
      float: none;
      width: 82%;
      height: auto;
    }
    video{
      max-width:90%;
      margin-top: 30px;
    }
    h1{
      font-size: 300%;
      text-decoration: underline;
      color: $whiteColor;
      margin-top: 30px;
      @include screenS{
        margin-top: 0px;
        padding-top: 30px;
      }
    }
    h2{
      font-size: 250%;
      text-decoration: underline;
      color: $whiteColor;
      margin-top: 30px;
      @include screenS{
        margin-top: 0px;
        padding-top: 30px;
      }
    }
  }
  .content{
    width: 26%;
    height: $displayHeight;
    background-color: $grayColor;
    float:left;
    text-align: center;
    color: $whiteColor;
    @include screenXL{
      width: 25%;
    }
    @include screenM{
      width: 24%;
    }
    @include screenS{
      width: 82%;
      float: none;
      height: auto;
    }
    h1{
      font-size: 200%;
      margin-top: 30px;
    }
    .skills{
      margin-top: 100px;
      @include screenS {
        margin-top: 0px;
        padding-top: 30px;
      }
    }
    .top{
  
    }
    p{
      font-size: 100%;
      margin: 30px 10px 0px 10px;
    }
    h2{
      font-size: 100%;
      margin-top: 30px;
      @include screenS{
        padding-bottom: 30px;
      }
      a{
        text-decoration: none;
        color: $grayColor;
        border-radius: 15px;
        background-color: $yellowColor;
        padding: 10px 20px;
      }
    }
  }